/* Importation de la police*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
/* Variables */
:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --gray-bg: #f2f2f2;
}
/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 77px 50px 77px;
}
a.nav-items {
  text-decoration: none;
  font-weight: 500;
  padding: 3.8rem 2rem 2rem 2rem;
  color: black;
}
a.nav-items:focus {
  color: var(--blue);
  border-top: 2px solid var(--blue);
}
a#signin {
  color: var(--blue);
  font-weight: 700;
  text-decoration: none;
  padding: 3.8rem 0rem 2rem 2rem;
}
/* Top Section*/
#top {
  padding: 0px 77px 0px 77px;
  line-height: 30px;
}
#top-title-desc {
  font-weight: 400;
}
/* Search-bar*/
#search-bar {
  padding-top: 10px;
}
#search-bar i {
  background-color: var(--gray-bg);
  padding: 15px;
  border-radius: 8px 0px 0px 8px;
}
#search-bar input {
  padding: 13px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  font-weight: bold;
  border-top: 1px solid var(--gray-bg);
  border-bottom: 1px solid var(--gray-bg);
}
#search-bar button {
  padding: 13px;
  margin-top: 8px;
  margin-right: 16px;
  background: var(--blue);
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0px 8px 8px 0px;
}
/* Filtres */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-right: 20px;
  margin-bottom: 16px;
}
#filter-title {
  margin-right: 22px;
  margin-bottom: 16px;
  font-size: 1.2rem;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
  height: 46px;
  width: 46px;
  min-height: 46px;
  min-width: 46px;
  border-radius: 50%;
  margin: -2px;
  color: var(--blue);
}
.filter-txt {
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}

/* Info */
.info {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 32px;
}
.info-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  padding: 10px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: var(--blue);
}
i.fas.fa-info {
  font-size: 12px;
}
.info-txt {
  margin-left: 10px;
}
