/* Importation de la police*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
/* Variables */
:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --gray-bg: #f2f2f2;
}
/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 77px 50px 77px;
  border-top: solid 2px var(--blue);
}
a.nav-items {
  text-decoration: none;
  font-weight: 500;
  margin-right: 70px;
  color: black;
}
a.nav-items:active {
  color: var(--blue);
}
a#signin {
  color: var(--blue);
  font-weight: 700;
  text-decoration: none;
}
/* Top Section*/
#top {
  padding: 0px 77px 0px 77px;
  line-height: 30px;
}
#top-title-desc {
  font-weight: 500;
}
/* Search-bar*/
#search-bar {
  padding-top: 10px;
}
#search-bar i {
  background-color: var(--gray-bg);
  padding: 15px;
  border-radius: 8px 0px 0px 8px;
}
#search-bar input {
  padding: 13px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  font-weight: bold;
  border-top: 1px solid var(--gray-bg);
  border-bottom: 1px solid var(--gray-bg);
}
#search-bar button {
  padding: 13px;
  margin-top: 8px;
  margin-right: 16px;
  background: var(--blue);
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0px 8px 8px 0px;
}
/* Filtres */
#filters {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#filtre {
  font-weight: bold;
  margin-right: 50px;
}
#filters i {
  height: 46px;
  width: 46px;
  color: var(--blue);
  margin-right: 30px;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--light-blue);
  text-align: center;
}
#filters a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 30px;
  padding-right: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  border-left: none;
}
/* Info */
#info p {
  font-weight: 500;
  margin-top: 40px;
}
#info i {
  color: var(--blue);
  background: var(--light-blue);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  margin-right: 10px;
}
